@import '../modules/variables.sass'
@import '../modules/font.sass'
//@import 'modules/font-awsome.sass'

html
 box-sizing: border-box
	
*, *:before, *:after
 margin: 0
 padding: 0
 box-sizing: inherit
a
 text-decoration: none
 color: inherit

body
 font-family: $font
 color: $color
 position: relative
 background-image: url("../img/bg-portfolio.jpg")
 background-size: cover
 background-repeat: no-repeat
 @media screen and (max-width: 768px)
  height: 100vh

header
 width: 100%
 max-width: 1200px
 display: flex
 justify-content: space-between
 background-color: rgba(255,255,255, 0.7)

 li
  display: inline-block
  padding: 1em
  line-height: 2em
  transition: all .1s
 li:hover
  background-color: $firColor
  color: #fff

.logo
 background-color: $firColor
 width: 200px
 color: #ffffff
 font-family: "OpenSans-Bold", "sans-serif"
 padding: 1em
 line-height: 2em

main
 max-width: 1200px
 width: 100%
 margin: 0 auto
 display: flex
 justify-content: space-between
 flex-direction: column

aside
 padding: 1em 1em 0
 min-width: 200px
 background-color: rgba(255,255,255, 0.7)
 input
  padding: .5em
  margin-bottom: 1em
 ul
  li
   list-style: none
   padding: .5rem
  li:hover
   background-color: #FF530D
   color: #fff
 input
  width: 100%
article
 background-color: rgba(255,255,255, 0.7)
 padding: 0 1em
.portfolio
 padding: 1em
 display: grid
 grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
 grid-auto-rows: 300px
 grid-gap: 1em
 overflow: scroll

 .post
  figure
   overflow: hidden
   display: flex
   align-items: center
   justify-content: center
   position: relative
   height: 100%
   width: 100%
   border-radius: .15rem
   border: 1px solid #ccc
   img
    object-fit: cover
    width: 100%
    height: 100%
    transition: all 0.3s
   figcaption
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    color: $color
    padding: .5rem
    font-size: 1rem
    z-index: 1
    background-color: rgba(255,255,255,0.8)
    font-weight: bold
    transition: all .1s
    @media screen and (min-width: 769px)
     opacity: 0
  figure:hover
   img
    transform: scale(1.05)
   figcaption
    opacity: 1
 .big
  @media screen and (min-width: 700px)
   grid-row: span 2

footer
 width: 100%
 margin: 0 auto
 text-align: center
 padding: 1em
 background-color: rgba(255,255,255, 0.7)
 font-size: 16px
 li
  display: block
  line-height: 1.5em
  margin-bottom: .5em
  background-color: #eeeeee
  a
   display: inline-block
   padding: 1em
   width: 100%
 li:hover
  background-color: $firColor
  color: #fff
  transition: all .25s


h1
 font-size: 2em
 margin: 0 auto
 padding: .5rem

.disabled
 opacity: 0
 display: none


///@media screen max-7608px///////////////////////////////////////////////////////

@media screen and (max-width: 768px)
 header
  background-color: $firColor
  position: fixed
  top: 0
  z-index: 3
 .blur
  filter: blur(.5rem)
 nav
  padding-top: 1em
  position: fixed
  top: 7em
  right: 0
  bottom: 0
  display: block
  background-color: white
  height: 100%
  width: 0
  transition: all .2s
  z-index: 10
  li
   display: block
   padding: .5em 1em
   line-height: 1.5em
   cursor: pointer
   font-size: 1.5em
 aside
  position: fixed
  top: 4em
  z-index: 2
  width: 100%
 aside ~ article
  position: fixed
  top: 9.3em
  overflow: scroll
  height: calc(100% - 9.3em)
 .desktop
  display: none

///mobile menu///////////////////////////////////////////////////////

.menu-trigger
 font-size: 3em
 padding: 0 1em 0 1em
 background-color: $firColor
 color: #fff

.menu-active
 width: 50vw

/////////////////////////////////////////////////////////////////////////////
///@media screen min769px////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
@media screen and (min-width: 769px)
 header
  position: relative
  margin: 1em auto 0
 .menu-active
  width: auto
 .menu-trigger
  display: none
 nav
  height: 4em
  display: flex
  max-width: 100%
  li
   display: inline-block
   padding: 1em
   line-height: 2em
   cursor: pointer
   font-size: 1em
  li:hover
   background-color: $firColor
   color: #fff
   transition: all .25s
 main
  height: 100vh
  flex-direction: row
 .desktop
  display: block

@keyframes fadeInLeft
 0%
  opacity: 0
  transform: translateX(20%)
 100%
  opacity: 1
  transform: translateX(0%)

@keyframes revealRight
 0%
  transform: scaleX(1)
 100%
  transform: scaleX(0)
.max-view
 height: 100vh
.max-height
 height: 100%
.small-content
 max-width: 360px
 position: relative
 margin: 0 auto
 height: auto
.login
 height: auto


// XXXXXXXX Lightbox XXXXXXXXX
.showPost
 position: fixed
 z-index: 3
 top: 0
 left: 0
 background-color: rgba(50,50,50, 0.7)
 height: 100vh
 width: 100vw
 .postContent
  width: auto
  background-color: white
  margin: 1em
  display: flex
  flex-direction: column
  max-height: calc(100vh - 6em)
  overflow: scroll
  .imgContainer
   padding:  0
   @media screen and (min-width: 769px)
    padding: 1em
   .bigimg img
    width: 100%
    object-fit: cover
   .imgs
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: .5em
    img
     width: 100%
     object-fit: cover
   @media screen and (min-width: 769px)
    width: 50%
  .textContainer
   margin: 1em
   @media screen and (min-width: 769px)
    width: 50%
  @media screen and (min-width: 769px)
   flex-direction: row
   padding: 1em
.closeIcon
 text-align: center
 font-weight: bold
 font-size: 2em
 @media screen and (max-width: 768px)
  position: fixed
  bottom: 0
  width: calc(100% - 1em)
  padding: 0 .5em
  background-color: white
  margin: 0 auto 1em
  border: 1px solid #ccc


// XXXXXXXXXXXX loader XXXXXXXXXXXX
@import '../modules/loader.sass'
@import '../modules/form.sass'

form
 padding: 0
.error
 color: $firColor